<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HTML5 boilerplate – all you really need…</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
        input, label, select {
            display: block;
        }
    </style>
</head>

<body id="home">

<h1>Sleep Tracker!</h1>
<div>
    <h2>Add a nap</h2>
    <div>
        <form action="" method="post">
            <div>
                <label for="kid">Which Child?</label>
                <select name="kid" id="kid">
                    <option value="1">Tvene</option>
                    <option value="2">Sanahin</option>
                </select>
            </div>
            <div>
            </div>
            <div>
                <label for="difficulty">Rate the difficulty from 1-5 (5 is most difficult</label>
                <input type="number" placeholder="Difficulty" id="difficulty" name="difficulty" max="0" min="0"/>
                <button type="submit">submit</button>
            </div>
        </form>
    </div>
    <a href="/">back to home</a>

</div>
</body>
</html>

